div.adservice {
  width: 100%;
  height: 60px;
  background-color: var(--color-neutral-000);
}
div.adservice > a {
  display: block;
  width: 100%;
  height: 60px;
}
div.adservice > a > div {
  width: 100%;
  height: 60px;
}
div.adservice > a > div > picture {
  width: 100%;
  height: 60px;
}
div.adservice > a > div > picture > img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center center;
  -o-object-position: center center;
}
