div.location {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  column-gap: 50px;
  color: var(--color-neutral-700);
}
div.location > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  line-height: 2.17;
  color: var(--color-neutral-700);
  font-size: 12px;
}
div.location > div > div span svg {
  width: 20px;
  height: 20px;
  fill: var(--color-icon-high-emphasis);
}
